<mat-card (click)="handleCardClick(appType)" class="example-card">
  <mat-card-header>
    <mat-card-title style="color: brown">{{ appType }}</mat-card-title>
  </mat-card-header>
  <div style="margin: 5px;"></div>
  <mat-card-content style="color: rgb(102, 98, 98);" >
    <p>This card has divider and indeterminate progress</p>
    <p>This card has divider and indeterminate progress as footer,</p>
    <p>This card has divider and indeterminate progress</p>
    <p>This card has divider and indeterminate progress as footer,</p>
  </mat-card-content>
</mat-card>
